<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/login.css">
</head>
<body>
  <section id="container-form">
    <div id="form">
      <div class="titulo">
        <h2>Sign up</h2>
      </div>
       <div class="email">
          <span class="txt1">
            Username
          </span>
      </div>
      <div class="input_wrap">
        <input id="email" type="text" name="email" >
      </div>
      <div class="password">
        <span class="txt1">
          Password
        </span>
       </div>
      <div class="input_wrap">
        <input id="password" type="password" name="password" >
      </div>
      <div class="password">
        <span class="txt1">
          Name
        </span>
      </div>
      <div class="input_wrap">
        <input id="name" type="text" name="name" >
      </div>
      <div class="password">
        <span class="txt1">
          Age
        </span>
      </div>
      <div class="input_wrap">
        <input id="age" type="number" name="age" >
      </div>
      <button id="signup_button">Sign up</button>
      <div id="signup_option">or <a href="/" class="sign_up">login!</a></div>
    </div>
  </section>
  <script type="text/javascript" src="js/lib/jquery.js" ></script>
  <script type="text/javascript" src="js/js.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
</body>
</html>