* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #11B080;
}

.todo-container {
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	padding: 20px;
	width: 400px;
	transform: translate(-50%,-50%);
	background: #85EBCC;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo {
	width: 350px;
}

.todo-container h2 {
	padding: 10px;
	font-family: 'Candal', sans-serif;
	font-size: 2em;
}

.todo-header input {
	width: 92%;
	border: none;
	border-radius: 5px;
	height: 30px;
	font-family: 'Candal', sans-serif;
	font-size: 14px;
	color: #4F545F;
}

.todo-header button {
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 5px;
	font-family: 'Candal', sans-serif;
	background-color: rgb(51, 212, 100);
}

.todo-container ul {
	list-style: none;
}

.todo-list-item {
	padding: 12px 8px 12px 40px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	font-family: 'Candal', sans-serif;
	font-size: 14px;
	color:#4F545F;
	background: #eee;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	transition: 0.2s;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.todo-list-item form {
	width: 100%;
	display: flex;
}

.todo-list-item input {
	flex-grow: 2;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	font-family: 'Candal', sans-serif;
}

.todo-list-item button {
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	font-family: 'Candal', sans-serif;
	background-color: rgb(51, 212, 100);
}

.todo-list-item .cancel {
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	font-family: 'Candal', sans-serif;
	background-color: rgb(223, 43, 43);
	margin-left: 5px;
	font-size: 12px;
}

.todo-list-item div {
	flex-grow: 2;
}

.todo-list-item .edit {
	color : rgb(143, 233, 58);
	margin-right: 10px;
	cursor:pointer;
	text-decoration: none;
}

.todo-list-item .remove {
	color : rgb(243, 96, 96);
	margin-right: 5px;
	cursor:pointer;
	text-decoration: none;
}

ul li:nth-child(odd) {
  background: #E2DFDF;
}

ul li:hover {
  background: #ddd;
}



